fastapi
uvicorn[standard]
python-multipart
aiofiles

numpy
pandas

opencv-python-headless
pillow

torch
torchvision

h5py
joblib

chromadb

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq

sentence-transformers

pypdf

duckduckgo-search

groq

python-dotenv
